@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
  }

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color:#ffc8c8;

    font-family: "Press Start 2P", serif;;
}

main{
/*    width: 300px;*/
    height:max-content;
    min-height: 300px;
    padding: 30px;
    box-sizing: border-box;
}

#light_title{
    color: #ea6969;
    background-color: #ffe7e7;
    justify-content: center;
    align-items: center;
    display:flex;
}

main form{
    color: #ea6969;
    background-color: #ffe7e7;;
    border: 1px solid #ea6969;
    display: flex;
    justify-content: space-between;

}

main form input,
main form button{
    font-family: "Press Start 2P", serif;
    color: #ea6969;
    background-color: #ffe7e7;
    border: none;
    outline: none;
    padding: 10px;

}

main .result{
    padding-top: 20px;

}

/*.kero{
    position:absolute; 
    top:__; 
    left:__; 
    z-index:50;
.cloudy{
    position:absolute;
     top:__; 
     left:__; 
     z-index:51;
}*/
.cloudy {
  position: absolute;
  top:20px;
  right: 20px;
  bottom: 0;
  /*width: 100%;*/
  max-width: 20%;
  max-height: 20%;
  padding: 20px;
  text-align: center;

}